    <footer class="ui container">
        <p>© Ambica Bassetty</p>
        <div class="ui header">It's a personal blog site developed using NodeJS, Express, MongoDB and CRUD operations.</div>
    </footer>
    </body>
</html>