<html>
    <head>
        <title>BlogApp</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link rel="shortcut icon" href="https://avatars7.githubusercontent.com/u/13587475?v=4&s=280" />
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="icon code"></i>Blog Site</div>
                <a class="item" href="/">Home</a>
                <a class="item" href="/blogs/new">New Post</a>
            </div>
        </div>
        